.resources-left {
    max-width: 458px;
    width: 100%;
}

.resources-right {
    max-width: 766px;
    width: 100%;
}

.resource-item {

    a,
    a:visited {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        line-height: 0.65;
        border: none;
        padding: var(--dma_space_24) 0;
        position: relative;
        box-sizing: border-box;
        border-bottom: 1px solid var(--dma_blue_2);

        &:hover,
        &:focus-visible {
            border-color: var(--dma_blue_1);

            .resource-image {
                transform: rotate(6.5deg) scale(1);
            }

            svg {
                transform: rotate(-45deg);
                --icon-color: var(--dma_black);
            }
        }
    }

    .resource-image {
        aspect-ratio: 1.1;
        max-width: 160px;
        aspect-ratio: 1/1;
        @include transition(all, 0.35s, ease-in-out);
        transform: rotate(0) scale(0);
        position: absolute;
        top: 0;
        right: 15%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0;
        }
    }

    .resource-date {
        box-sizing: border-box;
        padding: var(--dma_space_12) var(--dma_space_16);
        background-color: var(--dma_light_grey_blue);
        text-align: center;
        font-size: var(--dma_font_size_12);
        line-height: 1.5;
        min-width: 88px;
        border-radius: 12px;
        margin-right: var(--dma_space_24);


        span {
            font-size: var(--dma_font_size_40);
            display: block;
            margin-bottom: var(--dma_space_4);
            line-height: 1.1;
        }
    }

    .resources-sub-title {
        @include font(ubt, med);
        font-size: var(--dma_font_size_12);
        margin-bottom: var(--dma_space_8);
        line-height: 1.2
    }

    .resources-title {
        @include font(ubt, med);
        font-size: var(--dma_font_size_24);
        line-height: 1.25;
        margin-bottom: 0;
    }

    .resource-content {
        align-items: center;
        width: 100%;

        * {
            color: var(--dma_black);
        }

        svg {
            margin: 0;
            --icon-color: var(--dma_medium_grey);
            @include transition(all, 0.35s, ease-in-out);
        }
    }

    .resource-content-left {
        max-width: 60%;
    }

    .resource-content-right {
        width: 40px;
        margin-left: 21%;
    }

    &.featured-resource {
        aspect-ratio: 458/522;
        position: relative;

        a,
        a:visited {
            display: flex;
            align-items: flex-end;
            width: 100%;
            height: 100%;
            position: relative;
            padding: var(--dma_space_24);
            box-sizing: border-box;
            line-height: 0.65;
            border: none;

            &:hover,
            &:focus-visible {

                svg {
                    transform: rotate(-45deg);
                }

                .resource-image {
                    transform: none;
                }
            }
        }

        .resource-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            border-radius: 0;
            transform: none;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 42.36%, rgba(0, 0, 0, 0.72) 99.9%);
            }
        }

        .resource-content {
            position: relative;
            flex-wrap: wrap;
            justify-content: space-between;

            * {
                color: var(--dma_white);
            }

            svg {
                --icon-color: var(--dma_white);
            }
        }

        .resource-content-left {
            max-width: 80%;
        }

        .resource-content-right {
            margin-left: 0;
        }

        .resource-date {
            min-width: auto;
            text-align: left;
            box-sizing: border-box;
            padding: 0 0 0 var(--dma_space_30);
            line-height: 1.5;
            @include font(ubt, med);
            font-size: var(--dma_font_size_16);
            margin: 0 0var(--dma_space_16);
            background-image: url(../images/calendar.svg);
            background-size: 20px;
            background-position: left 2px top 1px;
            background-repeat: no-repeat;
            background-color: transparent;

            span {
                font-size: inherit;
                display: inline;
            }
        }

        .resources-sub-title {
            font-size: var(--dma_font_size_14);
        }
    }
}

.resources-cta {
    line-height: 0.65;
    margin-top: var(--dma_space_48);
}