/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@include font(axi, reg, family weight);
	transition: all 0.3s ease-in-out;
	position: relative;
	font-size: var(--dgt_font_size_16);
	color: var(--dgt_body_color);
	background-color: var(--dgt_body_bg);
	line-height: 1.5;

	&.have-topbar {
		padding-top: var(--dgt_header-height);
	}
}

p {
	margin: 0 0 30px;
}

::selection {
	background-color: var(--dgt_color_primary);
	color: var(--dgt_black);
}

strong {
	color: var(--dgt_text_strong) !important;
}
