/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

body {
	@include font(ubt, reg);
	@include transition(all, 0.35s, ease-in-out);
	position: relative;
	font-size: var(--dma_font_size_18);
	color: var(--dma_body_color);
	background-color: var(--dma_body_bg);
	line-height: 1.5;

	&.have-topbar {
		padding-top: var(--dma_header-height);
	}
}

p {
	margin: 0 0 30px;
}

::selection {
	color: var(--dma_highlight_color);
	background-color: var(--dma_highlight_bg);
}