/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5,
h6,
.heading-6 {
	@include font(axi, bold);
	margin: 0 0 20px;
	color: var(--dgt_heading_color);
	line-height: 1.3;
	text-transform: initial;

	a {
		color: var(--dgt_heading_link_color);
		border-bottom: none;

		&:hover,
		&:focus-visible {
			color: var(--dgt_heading_link_color_hover);
		}
	}
}

h1,
.heading-1 {
	font-size: var(--dgt_font_size_60);
}

h2,
.heading-2 {
	font-size: var(--dgt_font_size_32);
}

h3,
.heading-3 {
	font-size: var(--dgt_font_size_26);
}

h4,
.heading-4 {
	font-size: var(--dgt_font_size_24);
}

h5,
.heading-5 {
	font-size: var(--dgt_font_size_20);
}

h6,
.heading-6 {
	font-size: var(--dgt_font_size_16);
}
