.slide-thumb img,
.burger-single,
.post-tags,
.post-content-des p,
.post-meta,
.search-button,
.single-blog-post,
.wpcf7-submit,
a,
a:visited,
button,
input[type="submit"],
.home-hero,
header {
	@include transition(all, 0.35s, ease-in-out);
}

.top-bar {
	padding: 10px 0;
	background-color: var(--dma_topbar_bgcolor);
	color: var(--dma_topbar_color);
	@include transition(all, 0.35s, ease-in-out);
}

.top-bar-text {
	font-size: var(--dma_font_size_16);
	padding: 0 20px 0 0;

	&:focus-visible {
		outline-color: var(--dma_white) !important;
	}

	a,
	a:visited {
		font-size: var(--dma_font_size_16);
		color: var(--dma_topbar_color);
		display: inline-block;

		&:focus-visible {
			outline-color: var(--dma_white) !important;
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0px;
			left: 0;
			background-color: var(--dma_white);
			@include transition(all, 0.35s, ease-in-out);
		}

		&:hover,
		&:focus-visible {
			&::after {
				opacity: 0.8;
			}
		}
	}
}

.top-bar-cross {
	position: absolute;
	top: 14px;
	right: 20px;
	line-height: 0.65;
	cursor: pointer;
	@include transition(all, 0.35s, ease-in-out);

	&:hover,
	&:focus-visible {
		transform: scale(1.1);
	}

	&:focus-visible {
		outline-color: var(--dma_white) !important;
	}

	img {
		width: 14px;
		filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(220deg) brightness(102%) contrast(103%);
	}
}

.nav-container {
	display: flex;
	align-items: center;
	margin-top: 8px;
}

.header-logo {

	a,
	a:visited {
		display: inline-block;
		position: relative;
	}
}

.header-inner {
	border-bottom: none;
}

.header-navigation {
	width: 75%;
}

.white-logo {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	@include transition(all, 0.35s, ease-in-out);
}

.black-logo {
	opacity: 1;
	@include transition(all, 0.35s, ease-in-out);
}

.no-overflow {
	overflow: hidden;
}

.logo {
	position: relative;
	z-index: 9;
	line-height: 0;
	width: 292px;
	@include transition(all, 0.35s, ease-in-out);
}

.header-inner {
	padding: var(--dma_space_24) 0;
	box-sizing: border-box;

	@include transition(all, 0.35s, ease-in-out);
}

.header-section {
	background-color: var(--dma_white);
	z-index: 999;
	width: 100%;
	position: fixed;
	@include transition(all, 0.35s, ease-in-out);
	top: var(--dma_header-top-default);
	border-bottom: 1px solid var(--dma_blue_2);

	&.shrink {
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);

		.header-inner {
			padding: var(--dma_space_20) 0;
		}
	}
}

.header-wrapper {
	box-sizing: border-box;
	width: 90%;
	max-width: 100%;
	margin: 0 auto;
}

.header-btns {
	margin-top: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: calc(0% - var(--dma_space_24));
		width: 1px;
		height: 100%;
		background-color: var(--dma_blue_2);
	}
}

.hide-topbar {
	header {
		top: var(--dma_header-top);
	}
}

.desktop-hide {
	display: none;
}