.is-style-gl-s2,
.gl-s2 {
	height: var(--dma_space_2) !important;
}

.is-style-gl-s4,
.gl-s4 {
	height: var(--dma_space_4) !important;
}

.is-style-gl-s6,
.gl-s6 {
	height: var(--dma_space_6) !important;
}

.is-style-gl-s8,
.gl-s8 {
	height: var(--dma_space_8) !important;
}

.is-style-gl-s12,
.gl-s12 {
	height: var(--dma_space_12) !important;
}

.is-style-gl-s16,
.gl-s16 {
	height: var(--dma_space_16) !important;
}

.is-style-gl-s20,
.gl-s20 {
	height: var(--dma_space_20) !important;
}

.is-style-gl-s24,
.gl-s24 {
	height: var(--dma_space_24) !important;
}

.is-style-gl-s30,
.gl-s30 {
	height: var(--dma_space_30) !important;
}

.is-style-gl-s36,
.gl-s36 {
	height: var(--dma_space_36) !important;
}

.is-style-gl-s48,
.gl-s48 {
	height: var(--dma_space_48) !important;
}

.is-style-gl-s72,
.gl-s72 {
	height: var(--dma_space_72) !important;
}

.is-style-gl-s96,
.gl-s96 {
	height: var(--dma_space_96) !important;
}
.is-style-gl-s100,
.gl-s100 {
	height: var(--dma_space_100) !important;
}

.is-style-gl-s128,
.gl-s128 {
	height: var(--dma_space_128) !important;
}

.is-style-gl-s156,
.gl-s156 {
	height: var(--dma_space_156) !important;
}

.is-style-gl-s200,
.gl-s200 {
	height: var(--dma_space_200) !important;
}

.is-style-gl-s236,
.gl-s236 {
	height: var(--dma_space_236) !important;
}