.owl-nav {
	span {
		display: none;
	}
	button {
		width: 36px;
		height: 36px;
		position: relative;
		background: transparent !important;
		border: 2px solid var(--dgt_color_secondary) !important;

		&::after {
			background-image: url(../images/arrow-right.svg);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
		}
		&.owl-prev {
			&::after {
				rotate: 180deg;
			}
		}
	}
}

.accordions {
	cursor: pointer;
	width: 100%;
	transition: 0.4s;
	padding: 0px;
	background: transparent;
	position: relative;
	padding-right: 50px;
	padding-bottom: 15px;
	color: #637c8c;
	font-size: 18px;
	line-height: 20px;
	&::after {
		background-image: url(../images/submenu-icon.svg);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		content: "";
		position: absolute;
		width: 14px;
		height: 12px;
		top: 3px;
		right: 0px;
		transition: 0.3s;
	}
	&.active {
		&::after {
			rotate: -180deg;
		}
	}
}
.panel {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease-out;
	p {
		margin: 0;
	}
}
.accordion-container {
	.inner {
		padding-bottom: 22px;
	}
	.blue-btn {
		&.style-btn {
			padding-left: 5px;
		}
	}
	p {
		padding-bottom: 22px;
	}
}
.main-acc {
	border-bottom: 1px solid #637c8c;
	margin-bottom: 21px;
	&.active {
		border-bottom: 1px solid #072843;
	}
}
.accordions.active,
.accordions:hover {
	color: #072843;
}
.accordian-box {
	max-width: 930px;
	margin-left: auto;
}
.accordian-sec {
	.col-half-colum {
		&:first-child {
			p {
				max-width: 351px;
			}
		}
	}
}
.styles-modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal-contents {
	background-color: white;
	width: 50%;
	position: relative;
}
.close {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 24px;
	cursor: pointer;
}
.video-popup {
	.modal-contents {
		width: 100%;
		max-width: 90%;
		margin: auto;
	}
	iframe {
		width: 100%;
		height: 80vh;
	}
}
span {
	&.close {
		&.close-btns {
			top: 10px;
			right: 10px;
			i {
				font-size: 24px;
				transition: 0.4s;
				color: black;
				&:hover {
					rotate: 180deg;
				}
			}
		}
	}
}

.video-frame {
	iframe {
		width: 100%;
		height: 80vh;
	}
}
.tab {
	overflow: hidden;
	li {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
		font-size: 17px;
		background-color: #ddd;
		&:hover {
			background-color: #ddd;
		}
		&.active {
			background-color: #ccc;
		}
	}
}
.tabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
}
.topright {
	float: right;
	cursor: pointer;
	font-size: 28px;
}
.light-box {
	img {
		width: 100px;
	}
}

div#iframe-video {
	.modal-contents {
		width: 90%;
	}
}

.popups-default {
	display: flex;
	gap: 10px;
}

.tab.list--row {
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		li {
			list-style: none;
		}
	}
}

.tab-content-box {
	p {
		margin-bottom: 0;
	}
}
