/****
 *
 * WordPress buttons
 *
****/
.wp-block-button {
	.wp-block-button__link {
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		overflow: hidden;
		padding: 11px 30px;
		text-decoration: none;
		color: var(--dgt_theme_btn_color);
		background-color: var(--dgt_theme_btn_bgcolor);
		border: 2px solid var(--dgt_theme_btn_border_color);
		transition: all 0.35s ease-in-out;
		border-radius: 0;
		@include font(axi, bold);
		font-size: var(--dgt_font_size_16);

		&:hover,
		&:focus-visible {
			background-color: var(--dgt_theme_btn_bgcolor_hover);
			border: 2px solid var(--dgt_theme_btn_border_color_hover);
			color: var(--dgt_theme_btn_color_hover);
		}

		&.has-background {
			border: none;

			&:hover,
			&:focus-visible {
				border: none;
				color: unset;
			}
		}

		&.has-text-color.has-background {
			border: none;

			&:hover,
			&:focus-visible {
				border: none;
			}
		}
	}

	&.is-style-outline-boxed {
		.wp-block-button__link {
			background-color: var(--dgt_transparent);
			color: var(--dgt_theme_btn_color_hover);

			&:hover,
			&:focus-visible {
				color: var(--dgt_wp_outline_btn_color);
			}
		}
	}

	&.is-style-fill-boxed {
		.wp-block-button__link {
			border-radius: inherit;
		}
	}
}
